*{
    margin: 0;
    font-family: "Inter", sans-serif;
   
}

#logo{
    margin: 50px;
    margin-top: 50px;
}
h1{
    margin-left: 150px;
    margin-top: 50px;
}
#menu-superior p{
    margin-left: 150px;
    margin-top: 20px;
    width: 500px;
    font-size: 14px;
    line-height: 25px;
}
#menu-superior{
     background-image: url("assets/Fundo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
     color: #ffff;
}
#menu-informativo{
    background: #EAECE5;
    height: 170px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    align-items: center;
}
.icone{
    margin-left: 150px;
    padding: 20px;
}
.menu-informativo{
  display: flex;
  align-items: center;
}
#titulo-video{
  color: #247BA0;
  margin-top: 50px;
}
#descricao-video{
  color: #383838;
  margin-top: 20px;
}
#secao-video{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
} 
#video{
    margin: 50px 25px 50px 100px ;
}
#carrossel{
    background-color: #247BA0;
    padding: 50px;
}
#titulo-carrossel{
    color: #ffff;
    text-align: center;
    font-size: 25px;
}
#div-cards{
    margin-top: 105px;
    display: grid;
    grid-auto-flow: column;
}
.card{
    margin-left: 90px;
    align-items: center;
}
#seta-esquerda{
    margin-top: 95px;
    display: none;
}
#Bruna{
    display: none;
}
.seta{
    margin-top: 55%;
    text-align: center;
    cursor: pointer;
}.seta:hover{
    transform: scale(1.2);
    transition: all 0.3s;
}
#titulo-formulario{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
input{
    width: 300px;
    height: 30px;
    background-color: #EAECE5;
    margin: 15px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
}
form{
    text-align: center;
}
button{
    background-color: #247BA0;
    color: #ffff;
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin-top:10px ;
    margin-bottom: 50px;
    font-weight: bolder;
}
button:hover{
    background-color: #1b5e75;
    transition: all 0.3s;
    cursor: pointer;
}